:root{
    --var-primary-bg-color: #FDFDFD;
    --var-primary-text-color:#202025;

    --var-primary-text-color-grey: #5F6775;
    --var-accent-color: #FD5103;
    --var-accent-color-lighter: #FE7031;
    }
    
    [dark] {
    --var-primary-bg-color: #202025;
    --var-primary-text-color:#FDFDFD;
    }

// transition
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;