// Light theme
$primary-bg-color-light: #FDFDFD;
$primary-text-color-light:#202025;

// Dark theme
$primary-bg-color-dark:#202025;
$primary-text-color-dark: #FDFDFD;

// Common colors theme
$primary-text-color-grey: #5F6775;
$accent-color: #FD5103;
$accent-color-lighter: #FE7031;

// transition
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

