:root {
  --var-primary-bg-color: #fdfdfd;
  --var-primary-text-color: #202025;

  --var-primary-text-color-grey: #5f6775;
  --var-accent-color: #fd5103;
  --var-accent-color-lighter: #fe7031;
}

[dark] {
  --var-primary-bg-color: #202025;
  --var-primary-text-color: #fdfdfd;
}

// transition
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;
