.section-cards {
  // padding-top: 60px;
}

.cards-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  // color: var(--var-primary-text-color);
  @media screen and(min-width: 768px) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
  }
  @media screen and(min-width: 1280px) {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  }
}

.markup-cards {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  @media screen and(min-width: 768px) {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.markup-ingr {
    padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  @media screen and(min-width: 768px) {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.card {
  width: 100%;
  border: 1px solid var(--var-accent-color);
  border-radius: 4px;

  @media screen and(min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and(min-width: 1280px) {
    width: calc((100% - 64px) / 3);
  }
}

.card__info {
  padding: 48px 21px 24px;

  @media screen and(min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and(min-width: 1280px) {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.card__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  // color: var(--var-primary-text-color);
}

.card__btns {
  padding-top: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  @media screen and(min-width: 768px) {
    gap: 12px;
  }

  @media screen and(min-width: 1280px) {
    gap: 16px;
  }
}

.card__btn {
  cursor: pointer;
  padding: 8px 16px;
  background-color: var(--var-accent-color-lighter);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  @media screen and(min-width: 768px) {
    padding: 12px 27px;
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and(min-width: 1280px) {
    padding: 12px 30px;
    font-size: 20px;
    line-height: 1.2;
  }

  &:hover {
    background-color: #f5f5f5;
    color: var(--var-accent-color);
    transition: background-color $transition-time $transition-function;
  }

  &:active {
    background-color: var(--var-accent-color);
    color: #f5f5f5;
    transition: background-color $transition-time $transition-function;
  }
}

.card__btn-add {
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--var-accent-color);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--var-accent-color);
  fill: var(--var-accent-color);

  @media screen and(min-width: 768px) {
    padding: 12px 16px;
    font-size: 20px;
  }

  @media screen and(min-width: 1280px) {
    padding: 12px 20px;
    font-size: 20px;
  }

  &:hover {
    background-color: #f5f5f5;
    transition: background-color $transition-time $transition-function;
  }

  &:active {
    background-color: transparent;
  }
}
.dark .card__btn-add:hover .svg-default {
  fill: #f5f5f5;
  transition: background-color $transition-time $transition-function;
}
.dark .card__btn-add:active .svg-default {
  fill: var(--var-accent-color);
  transition: background-color $transition-time $transition-function;
}

.card__icon {
  fill: currentColor;
}
