.dark .svg-default {
  // fill: #fcfcfc;
  // fill: var(--var-primary-bg-color);
  fill: #202025;
}

.svg-default {
  fill: #fcfcfc;
}

.svg-favourite {
  fill: #fd5103;
}

.dark .favourite {
  fill: #fd5103;
}

// .favourite {
  //   color: green;
  //   font-size: 5px;
//<<<<<<< favorite-23
  // fill: #fd5103;
  // color: #f5f5f5;
  // background-color: var(--var-accent-color-lighter);
//   &:hover {
//       background-color: #f5f5f5;
//       color: var(--var-accent-color);
//       transition: background-color $transition-time $transition-function;
//     }
  
//     &:active {
//       background-color: var(--var-accent-color);
//       color: #f5f5f5;
//       transition: background-color $transition-time $transition-function;
//     }
// }
//=======
  //fill: #fd5103;
 
 
 // &:hover {
 //     background-color: #f5f5f5;
   //   color: var(--var-accent-color);
  //    transition: background-color $transition-time $transition-function;
 //   }
  
 //   &:active {
 //     background-color: transparent;
  //    color: var(--var-accent-color);
 //     transition: background-color $transition-time $transition-function;
//    }
//}
//>>>>>>> main
