.favourite {
  //   color: green;
  //   font-size: 5px;
}

.dark .svg-default {
  // fill: #fcfcfc;
  // fill: var(--var-primary-bg-color);
  fill: #202025;
}

.svg-default {
  fill: #fcfcfc;
}

.svg-favourite {
  fill: #fd5103;
}
