.favor-ingredient{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  
    @media screen and(min-width: 768px) {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
    }
  
    // @media screen and(min-width: 1280px) {
    //   padding-top: 60px;
    //   display: flex;
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   gap: 32px;
    // }
  }
  
  .favor-ingredient__card {
    width: 100%;
    border: 1px solid var(--var-accent-color);
    border-radius: 4px;
    padding: 20px;
  
    @media screen and(min-width: 768px) {
      width: calc((100% - 32px) / 2);
    }
  
    @media screen and(min-width: 1280px) {
      width: calc((100% - 64px) / 3);
    }
  }
  
  .card__info {
    padding: 48px 21px 24px;
  
    @media screen and(min-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    @media screen and(min-width: 1280px) {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
  
  .favor-ingredient__title {
    margin-bottom: 20px;
        font-family: $secondary-font;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.19;
    // color: var(--var-primary-text-color);
    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
    }

    &__pretitle {
        margin-bottom: 28px;
        font-size: 16px;
        color: var(--var-primary-text-color-grey);
        
        @media screen and (min-width: 768px) {
            margin-bottom: 28px;
        }
    }

    &__btn {
        // width: 185px;
        // height: 48px;
        padding: 8px 16px;
        border-radius: 4px;
        font-family: $secondary-font;
        font-size: 20x;
        line-height: 1.2;
        color: #FCFCFC;
        background-color: var(--var-accent-color);

        @media screen and (min-width: 768px) {
            // margin-left: 480px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #f5f5f5;
            color: var(--var-accent-color);
        }
    }
  }

  .favor-ingredient__btn {
    padding: 12px 24px;
        border-radius: 4px;
        font-family: $secondary-font;
        font-size: 20x;
        line-height: 1.2;
        color: #FCFCFC;
        background-color: var(--var-accent-color);

        @media screen and (min-width: 768px) {
            // margin-left: 480px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #f5f5f5;
            color: var(--var-accent-color);
        }
    
  }