.cards__pagination {
  background-color: var(--var-primary-bg-color);
  padding: 45px 39px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;

  @media screen and(min-width: 768px) {
    padding: 60 32px;
    font-size: 16px;
  }

  .pagination__wrapper {
    display: flex;
    justify-content: center;

    .pagination__arrow {
      color: var(--var-primary-text-color);
      cursor: pointer;

      .svg-icon {
        fill: currentColor;
      }
    }

    .page-prev {
      transform: rotate(90deg);
      margin-right: 16px;
    }

    .page-next {
      transform: rotate(-90deg);
      margin-left: 16px;
    }

    .pagination__pages {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin: 0 auto;

      @media screen and(min-width: 768px) {
        gap: 12px;
      }

      .page__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid var(--var-accent-color-lighter);
        border-radius: 50%;
        cursor: pointer;

        @media screen and(min-width: 768px) {
          width: 40px;
          height: 40px;
        }

        &.page__active {
          background-color: var(--var-accent-color-lighter);
        }
      }

      .page__dots {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: var(--var-accent-color-lighter);
        cursor: pointer;
      }
    }
  }
}

.footer {
  height: 110px;
  background-color: var(--var-accent-color);
}

//   @media screen and(min-width: 768px) {
//     width: 768px;
//     padding: 0 33px;
//   }

//   @media screen and(min-width: 1280px) {
//     width: 1280px;
//     padding: 0 16px;
//   }
