.hero {
  background-color: inherit;
  padding: 60px 0 40px 0;
  
  @media screen and (min-width: 768px) {
      padding: 100px 0 199px 0;
    }
  @media screen and (min-width: 1280px) {
      padding: 97px 0 291px 0;
    }
  &__container {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
      position: relative;
      margin-top: 100px;
    }
}

&__title {
  color: var(--var-accent-color);
  font-weight: 600;
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 2;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      font-size: 26px;
      line-height: 1.6;
    }
      @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
        font-size: 52px;
        line-height: 1.5;
      }
  }

  &__picture {
      @media screen and (min-width: 768px) {
        position: absolute;
        top: -24px;
        right: 32px;
      }
        @media screen and (min-width: 1280px) {
          top: 0px;
          right: 16px;
        }
  }

  &__image {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 336px;
        height: 294px;
      }
      @media screen and (min-width: 1280px) {
        width: 501px;
        height: 439px;
      }
  }

  &__desription {
    font-weight: 500;
    // color: var(--var-primary-text-color);
    text-align: center;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.02em;
    opacity: 80% ;
    margin: 60px 0 20px 0;
      @media screen and (min-width: 768px) {
        text-align: left;
        margin: 0 0 40px 0;
      }
        @media screen and (min-width: 1280px) {
          font-size: 18px;
          line-height: 1.6;
        }
  }

  &__wrap {
    &:hover .hero__btn-shevron,
    &:focus .hero__btn-shevron {
      fill: #ffffff;
    }
    @media screen and (max-width: 767.98px) {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      width: 93px;
      height: 34px;
      position: relative;
      border: 1px solid var(--var-accent-color);
      border-radius: 4px;
  
      &:hover .hero__search-list {
        // display: flex;
        pointer-events: visible;
        transform: translateY(0);
        transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 1;
      }
  
      &:hover {
        background-color: var(--var-accent-color);
        color: #FCFCFC;
        margin-bottom: 50px;
      }
  
      &:hover .hero__btn {
        color: inherit;
      }

      &:focus .hero__btn {
        color: inherit;
      }
    }
  }

    //------Search select button-------//
  &__btn {
      display: flex;
      justify-content: center;
      text-align: left;
      flex-direction: column;
      padding: 10px;
      margin-right: 30px;
      width: 40px;
      height: 100%;
      margin-left: 0;
      color: var(--var-accent-color);
      background-color: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4;
      border-radius: 4px;
      cursor: pointer;
    
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__btn-shevron {
    fill: var(--var-accent-color);
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
//------
    //------Search list------//
  &__search-list {
    &::-webkit-scrollbar {
        color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-image: url('../images/hero/slider-thumb.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 34px;
      }
    
      right: 0;
      // visibility: hidden;
      // display: none;
      pointer-events: none;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding-bottom: 0;
      height: 84;
      width: 91px;
  
      border: 1px solid var(--var-accent-color);
      border-radius: 4px;
  
      overflow: auto;
      padding: 0;
  
      position: absolute;
      top: 33px;
      left: 0;
      opacity: 0;
      transform: translateY(-50%);
      z-index: 1;  
   
  
    @media screen and (min-width: 768px) {
      pointer-events: visible;
      // visibility: visible;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      height: 75px;
      width: 330px;
      position: absolute;
      top: 270px;
      margin: 0 0 0 33px;
      border: none;
      opacity: 1;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      top: 390px;
      width: 520px;
      height: 120px;
    }
  }

  &__search-item {
      padding: 0;
      width: 66px;
      height: 28px;
      @media screen and (min-width: 768px) {
        width: auto;
        height: auto;
        }
  }

  &__search-button {
    font-weight: 700;
    text-align: left;
    padding: 10px 9px;
    width: 100%;
    color: var(--var-primary-text-color-grey);
    background-color: transparent;
    font-size: 10px;
    line-height: 1.5;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 25px;
      height: 25px;
      font-size: 14px;
      line-height: 1.5;
      &:hover,
        &:focus {
          color: var(--var-accent-color);
          text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
          -webkit-text-stroke: 1px var(--var-primary-text-color-grey);
        }
    }
  
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 24px;
      line-height: 1.5;
    }
  }
}



