.backdrop__cocktails-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: not-allowed;
    z-index: 1200;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    @media screen and (min-width: 768px) {
        overflow-y: hidden;
    }
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .cocktails-modal {
        transform: scale(0.9);
    }
}

.cocktails-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1200;
    max-width: 320px;
    width: 320px;
    // height: 956px;
    margin: auto;
    // overflow-y: scroll;
    //===
    // padding: 28px;
    background: #FCFCFC;
    //background-color: #FCFCFC;
    //===

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 10px;
    cursor: auto;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 822px;
        // width: 90%;
        width: 822px;
        // height: 598px;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;
        border: none;
        // background-color: #fff;
        outline: blue;
        padding: 0;
        cursor: pointer;
        }
        
    &__container {
        padding: 40px 20px;
        width: 100%;
        height: auto;

        @media screen and (min-width: 768px) {
            padding: 40px 28px 28px;
        }
    }

    &__inner {
        @media screen and (min-width: 768px) {
            display: flex;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-family: $secondary-font;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.19;

        @media screen and (min-width: 768px) {
            margin-left: 320px;
            margin-bottom: 28px;
        }
    }

    &__pretitle {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.62;
        text-transform: uppercase;
        
        @media screen and (min-width: 768px) {
            // margin-top: 137px;
            margin-bottom: 24px;
        }
    }

    &__image {
        margin-bottom: 22px;
        border-radius: 4px;
        
        @media screen and (min-width: 768px) {
            width: 288px;
            height: 320px;
            position: absolute;
            top: 0;   
            left: 0;           
            margin: 0;
        }   
    }

    &__text {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.75;
        color: var(--var-primary-text-color-grey);
        @media screen and (min-width: 768px) {
            margin-bottom: 52px;
        }
    }
    
    &__ingredients {
        margin-top: 22px;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        
        text-transform: uppercase;
        
        @media screen and (min-width: 768px) {
            margin-left: 320px;
            margin-top: 0;
        }
    }
    
    &__name {
        margin-bottom: 8px;
        font-weight: 300;
        
        @media screen and (min-width: 768px) {
            margin-left: 320px;
        }
    }
    
    &__list {
        margin-bottom: 32px;
        line-height: 1.62;
        color: var(--var-primary-text-color-grey);
        
        @media screen and (min-width: 768px) {
            margin-left: 320px;
            height: 154px;
            margin-bottom: 28px;
        }      
    }

    &__it {
        display: flex;
        font-size: 16px;
        gap: 10px;
        &:hover,
        &:focus {
            color: var(--var-accent-color-lighter);
        }
    }

    &__link {
        color: var(--var-primary-text-color-grey);
        
        &:hover,
        &:focus {
            color: var(--var-accent-color-lighter);
        }
    }

    &__btn {
        // width: 185px;
        // height: 48px;
        padding: 12px 24px;
        border-radius: 4px;
        border: 0;
    
        font-family: $secondary-font;
        font-size: 20px;
        line-height: 1.2;
        color: #FCFCFC;
        background-color: var(--var-accent-color-lighter);
        &:hover {
                background-color: #f5f5f5;
                color: var(--var-accent-color);
                transition: background-color $transition-time $transition-function;
            }
        
            &:active {
                background-color: var(--var-accent-color);
                color: #f5f5f5;
                transition: background-color $transition-time $transition-function;
            }
    
        @media screen and (min-width: 768px) {
            // margin-left: 480px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: #f5f5f5;
            color: var(--var-accent-color);
            transition: background-color $transition-time $transition-function;
        }
        
        &:active {
            background-color: var(--var-accent-color);
            color: #f5f5f5;
            transition: background-color $transition-time $transition-function;
        }
    }

    &__show-btn {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        

        @media screen and (min-width: 768px) {
            margin-bottom: 77px;
        }
    
        &:hover,
        &:focus {
            color: var(--var-accent-color-lighter);
        }
    }
}
