.cards__pagination {
  padding: 45px 39px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;

  @media screen and(min-width: 768px) {
    padding: 60 32px;
    font-size: 16px;
  }

  .pagination__wrapper {
    display: flex;
    justify-content: center;

    .page__arrow {
      color: var(--var-primary-text-color);
      cursor: pointer;

      &.disabled {
        color: var(--var-primary-text-color-grey);
      }

      .svg-icon {
        fill: currentColor;
      }
    }

    .pagination__controls {
      display: flex;
      gap: 8px;
      margin: 0 auto;

      @media screen and(min-width: 768px) {
        gap: 12px;
      }

      .pagination__numbers {
        display: flex;
        flex-direction: row;
        gap: 8px;

        @media screen and(min-width: 768px) {
          gap: 12px;
        }
      }

      .page__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid var(--var-accent-color-lighter);
        border-radius: 50%;
        cursor: pointer;

        @media screen and(min-width: 768px) {
          width: 40px;
          height: 40px;
        }

        &.page-active {
          background-color: var(--var-accent-color-lighter);
        }
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
