<section class="section-cards">
  <div class="container">
    <h1 class="cards-title">Cocktails</h1>
    <ul class="markup-cards">
      <li class="card">
        <!-- <picture>
          <source srcset="" media="(min-width: 480px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <img src="" alt="" />
        </picture> -->
        <div class="card__info">
          <p class="card__title">Negroni</p>
          <div class="card__btns">
            <button type="button" class="card__btn">Learn more</button>
            <button type="button" class="card__btn-add">
              Add to
              <svg class="card__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="card">
        <!-- <picture>
          <source srcset="" media="(min-width: 480px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <img src="" alt="" />
        </picture> -->
        <div class="card__info">
          <p class="card__title">Negroni</p>
          <div class="card__btns">
            <button type="button" class="card__btn">Learn more</button>
            <button type="button" class="card__btn-add">
              Add to
              <svg class="card__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="card">
        <!-- <picture>
          <source srcset="" media="(min-width: 480px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <img src="" alt="" />
        </picture> -->
        <div class="card__info">
          <p class="card__title">Negroni</p>
          <div class="card__btns">
            <button type="button" class="card__btn">Learn more</button>
            <button type="button" class="card__btn-add">
              Add to
              <svg class="card__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="card">
        <!-- <picture>
          <source srcset="" media="(min-width: 480px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <img src="" alt="" />
        </picture> -->
        <div class="card__info">
          <p class="card__title">Negroni</p>
          <div class="card__btns">
            <button type="button" class="card__btn">Learn more</button>
            <button type="button" class="card__btn-add">
              Add to
              <svg class="card__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="card">
        <!-- <picture>
          <source srcset="" media="(min-width: 480px)" />
          <source srcset="" media="(min-width: 768px)" />
          <source srcset="" media="(min-width: 1200px)" />
          <img src="" alt="" />
        </picture> -->
        <div class="card__info">
          <p class="card__title">Negroni</p>
          <div class="card__btns">
            <button type="button" class="card__btn">Learn more</button>
            <button type="button" class="card__btn-add">
              Add to
              <svg class="card__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-Heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>