<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktails</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    /> -->

<!-- <link rel="stylesheet" href="/src/sass/index.scss" /> -->
<!-- </head> -->
<!-- <body> -->
<!-- <div class="dark-tema"> -->
<!-- <include src="./partials/header.html"></include> -->

<!-- <include src="./partials/pagination.html"></include>

      <include src="./partials/modal-cocktails.html"></include>
      <include src="./partials/modal-ingredients.html"></include>
      <include src="./partials/no-results.html"></include>
      <include src="./partials/footer.html"></include>
      <include src="./partials/mob-menu.html"></include> -->
<!-- </div> -->
<!-- <script type="module" src="/src/index.js"></script> -->
<!-- </body> -->
<!-- </html> -->
