<section class="cards__pagination">
  <div class="container pagination__wrapper">
    <div class="pagination__pages">
      <a class="pagination__arrow page-prev">
        <svg class="svg-icon" width="8px" height="13px">
          <use href="./images/icons.svg#icon-chevron-down"></use>
        </svg>
      </a>
      <a class="page__number">1</a>
      <a class="page__number">2</a>
      <a class="page__number page__active">3</a>
      <a class="page__dots">...</a>
      <a class="page__number">10</a>
      <a class="page__number">11</a>
      <a class="page__number">12</a>
      <a class="pagination__arrow page-next">
        <svg class="svg-icon" width="8px" height="13px">
          <use href="./images/icons.svg#icon-chevron-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container"></div>
</footer>
