<section class="header">
  <div class="container">
    <div class="content">
      <a href="/src/index.html"
        ><img class="logo__header" src="./images/Logo_cocktail1 (1).svg"
      /></a>

      <div class="navigation">
        <a class="navigation__home" href="./index.html">Home</a>
        <div class="dropdown">
          <button class="dropbtn"><span class="dropbtn-Favorite">Favorite</span> </button>
          <div class="dropdown-content">
            <p class="favor-cocktails">Favorite cocktails</p>
            <p class="favor-ingredients">Favorite ingredients</p>
          </div>
        </div>
        <!-- <a class="navigation__favorite" href="./index.html">Favorite</a> -->
      </div>
      <div class="search">
        <form class="search__form">
          <button type="submit">
            <svg class="search__icon" width="18" height="16">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
          <input type="text" placeholder="Search  |" />
        </form>
      </div>
      <div class="theme">
        <p class="theme__light">Light</p>
        <label class="switch">
          <input class="checkbox" type="checkbox" />
          <span class="slider round"></span>
        </label>

        <p class="theme__dark">Dark</p>

        <button class="btn-login">logIn</button>
      </div>
      <!-- mobile icon-->
      
    </div>
  </div>
</section>
