<!-- <section class="hero">
  <div class="hero__container container">
    <div class="hero__info-wrapper">
      <h1 class="hero__title">
        A party without cocktails <br />
        is not like a party
      </h1>
      <div class="hero__search-wrapper">
        <p class="hero__desription">Search your favorite cocktail by ABC</p>
        <div class="hero__search-list">
          A, B, C, D, E, F, G, H, I, J, K, L, M, <br />
          N, O, P, Q, R, S, T, U, V, W, X, Y, Z. <br />
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10
        </div>
      </div>
    </div>
    <picture class="hero__picture">
      <source
        srcset="
          ./images/hero/cocktail-grapefruit-desk.png        1x,
          ./images/hero/cocktail-grapefruit-desk-retina.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/cocktail-grapefruit-tab.png        1x,
          ./images/hero/cocktail-grapefruit-tab-retina.png 2x
        "
        media="(min-width: 480px)"
      />
      <source
        srcset="
          ./images/hero/cocktail-grapefruit-mob.png        1x,
          ./images/hero/cocktail-grapefruit-mob-retina.png 2x
        "
        media="(max-width: 480px)"
      />
      <img
        class="hero__image"
        src="./images/hero/cocktail-grapefruit-desk.png "
        alt="cocktail-with-grapefruit"
      />
    </picture>
    <div class="hero__search-wrapper-mobile">
      <p class="hero__desription">Search your favorite cocktail by ABC</p>
      <button class="hero__drop-down-list-btn" type="button">A</button>
    </div>
  </div>
</section> -->