<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title">
      A party without cocktails <br>
      is not like a party
    </h1>
    <picture class="hero__picture">
      <source srcset="
                ./images/hero/cocktail-grapefruit-desk.png        1x,
                ./images/hero/cocktail-grapefruit-desk-retina.png 2x
              " media="(min-width: 1280px)" />
      <source srcset="
                ./images/hero/cocktail-grapefruit-tab.png        1x,
                ./images/hero/cocktail-grapefruit-tab-retina.png 2x
              " media="(min-width: 768px)" />
      <source srcset="
                ./images/hero/cocktail-grapefruit-mob.png        1x,
                ./images/hero/cocktail-grapefruit-mob-retina.png 2x
              " media="(max-width: 768px)" />
      <img class="hero__image" src="./images/hero/cocktail-grapefruit-desk.png " alt="cocktail-with-grapefruit" />
    </picture>
    <p class="hero__desription">Search your favorite cocktail by ABC</p>
    <div class="hero__wrap">
      <button class="hero__btn">A</button>
      <svg class="hero__btn-shevron" width="24" height="24">
        <use href="./images/icons.svg#icon-chevron-down"></use>
      </svg>
      <ul class="hero__search-list">
        <li class="hero__search-item">
          <button class="hero__search-button" name="a">A</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="b">B</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="c">C</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="d">D</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="e">E</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="f">F</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="g">G</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="h">H</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="i">I</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="j">J</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="k">K</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="l">L</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="m">M</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="n">N</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="o">O</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="p">P</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="q">Q</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="r">R</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="s">S</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="t">T</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="u">U</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="v">V</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="w">W</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="x">X</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="y">Y</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="z">Z</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="1">1</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="2">2</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="3">3</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="4">4</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="5">5</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="6">6</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="7">7</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="8">8</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="9">9</button>
        </li>
        <li class="hero__search-item">
          <button class="hero__search-button" name="0">0</button>
        </li>
      </ul>
    </div>
  </div>
  </div>
</section>