<button>
    <svg
      class="mobile__icon open_modal"
      href="#open"
      width="30"
      height="16"
    >
      <use class="icon__menu" href="./images/icons.svg#icon-menu"></use>
    </svg>
  </button>
  <div class="heder-main">
  <div id="modal" class="modal bounceIn">
    <div class="shapka">
    <img class="logo__main" src="./images/Logo_cocktail1 (1).svg"
      />
    <svg
      class="close_modal"
      id="close_modal"
      href="#open"
      width="17"
      height="17"
    >
      <use
        class="icon__menu"
        href="./images/icons.svg#icon-vector-off"
      ></use>
    </svg>
    <div class="theme-main">
        <p class="theme__light-main">Light</p>
        <label class="switch-main">
          <input class="checkbox" type="checkbox" />
          <span class="slider-main round-main"></span>
        </label>
        <p class="theme__dark-main">Dark</p>
      </div>
      <div class="search-main">
        <form class="search__form-main">
          <button type="submit">
            <svg class="search__icon" width="18" height="16">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
          <input type="text" placeholder="Search  |" />
        </form>
      </div>
    </div>
      <!--  -->
      <div class="navigation-main">
        <a class="navigation-main-home" href="./index.html"><span class="navigation__home-main">Home</span></a><br>
        <div class="dropdown-main">
          <button class="dropbtn-main"><span class="faivorite-main"> Favorite</span> 
            <svg class="favorite__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-chevron-down"></use>
              </svg>
          </button>
          <div class="dropdown-content-main">
            <a href="./partials/favor-cocktails.html"><span class="drownFavor">Favorite cocktails</span></a>
            <a href="./partials/favor-ingredients.html"><span class="drownFav"> Favorite ingredients</span></a>
          </div>
        </div>
      </div>
  </div>
</div>
    