<section class="cards__pagination">
  <div class="container pagination__wrapper">
    <div class="pagination__controls">
      <button class="page__arrow page-prev visually-hidden">
        <svg class="svg-icon" width="24px" height="24px">
          <use href="./images/icons.svg#icon-chevron-prev"></use>
        </svg>
      </button>
      <div class="pagination__numbers"></div>
      <button class="page__arrow page-next visually-hidden">
        <svg class="svg-icon" width="24px" height="24px">
          <use href="./images/icons.svg#icon-chevron-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
